<div class="body-wrapper">
	
<h1>Our Menu</h1>

<div class="menu-wrapper">

<h2>Antipasti</h2>

<% @category_antipasti.each do |menu| %>
<div class="menu-item">
	<h3><%= menu.name %></h3>
	<p><%= menu.description %></p>
	
	<% if menu.price_large.blank? %>
		<p><%= menu.price_small.to_i %></p>
	<% else %>	
		<p>small <%= menu.price_small.to_i %></p>
		<p>large <%= menu.price_large.to_i %></p>
	<% end %>
</div>
<% end %>

<h2>Insalate e Zuppe</h2>

<% @category_insalate.each do |menu| %>
<div class="menu-item">
	<h3><%= menu.name %></h3>
	<p><%= menu.description %></p>
	
	<% if menu.price_large.blank? %>
		<p><%= menu.price_small.to_i %></p>
	<% else %>	
		<p>small <%= menu.price_small.to_i %></p>
		<p>large <%= menu.price_large.to_i %></p>
	<% end %>
</div>
<% end %>

<h2>Panini e Foccacia</h2>

<% @category_panini.each do |menu| %>
<div class="menu-item">
	<h3><%= menu.name %></h3>
	<p><%= menu.description %></p>
	
	<% if menu.price_large.blank? %>
		<p><%= menu.price_small.to_i %></p>
	<% else %>	
		<p>small <%= menu.price_small.to_i %></p>
		<p>large <%= menu.price_large.to_i %></p>
	<% end %>
</div>
<% end %>

<h2>Primi</h2>

<% @category_primi.each do |menu| %>
<div class="menu-item">
	<h3><%= menu.name %></h3>
	<p><%= menu.description %></p>
	
	<% if menu.price_large.blank? %>
		<p><%= menu.price_small.to_i %></p>
	<% else %>	
		<p>small <%= menu.price_small.to_i %></p>
		<p>large <%= menu.price_large.to_i %></p>
	<% end %>
</div>
<% end %>


<h2>Secundi</h2>

<% @category_secundi.each do |menu| %>
<div class="menu-item">
	<h3><%= menu.name %></h3>
	<p><%= menu.description %></p>
	
	<% if menu.price_large.blank? %>
		<p><%= menu.price_small.to_i %></p>
	<% else %>	
		<p>small <%= menu.price_small.to_i %></p>
		<p>large <%= menu.price_large.to_i %></p>
	<% end %>
</div>
<% end %>

<h2>Beverages</h2>

<% @category_beverages.each do |menu| %>
<div class="menu-item">
	<h3><%= menu.name %></h3>
	<p><%= menu.description %></p>
	
	<% if menu.price_large.blank? %>
		<p><%= menu.price_small.to_i %></p>
	<% else %>	
		<p>small <%= menu.price_small.to_i %></p>
		<p>large <%= menu.price_large.to_i %></p>
	<% end %>
</div>
<% end %>


</div>

</div>