<div class="body-wrapper">
	<h1>Our Menu</h1>
	<div class="menu-wrapper">
		<% 4.times do |n| %>
			<img src="/assets/menu-<%= n+1 %>.png" />
		<% end %>
		<% 2.times do |n| %>
			<img src="/assets/children-<%= n+1 %>.png" />
		<% end %>
		<% 2.times do |n| %>
			<img src="/assets/lunch-<%= n+1 %>.png" />
		<% end %>
		<% 2.times do |n| %>
			<img src="/assets/brunch-<%= n+1 %>.png" />
		<% end %>
		<% 9.times do |n| %>
			<img src="/assets/drinks-<%= n+1 %>.png" />
		<% end %>
	</div>
</div>