<div class="main-wrapper">
	<div class="main-pic-container"><%= image_tag("site_3_03.png", :alt => "Sample App", :class => "main-pic") %></div>
	<div class="inner-wrapper">
    <div class="dine-left">
	  <h1>Come Dine With Us</h1>
	  <h2>The Food</h2>
	  <p>Beef ribs ground round andouille, spare ribs pork fatback hamburger venison pork belly prosciutto turkey cow meatball. Frankfurter bresaola turducken beef, jerky pork belly filet mignon pork turkey. Chicken corned beef capicola, tongue shankle brisket fatback pork chop. Boudin ball tip tenderloin sirloin. Frankfurter ribeye meatloaf strip steak, cow shankle shank capicola meatball sausage.</p>
	</div>
    <div class="dine-center">
      <h2>The Service</h2>
	  <p>Beef ribs ground round andouille, spare ribs pork fatback hamburger venison pork belly prosciutto turkey cow meatball. Frankfurter bresaola turducken beef, jerky pork belly filet mignon pork turkey. Chicken corned beef capicola, tongue shankle brisket fatback pork chop. Boudin ball tip tenderloin sirloin. Frankfurter ribeye meatloaf strip steak, cow shankle shank capicola meatball sausage.</p>
    </div>
    <div class="dine-right">
	  <h1>We Cater</h1>
	  <ul>
	    <li>Beef ribs ground round andouille, spare ribs pork fatback hamburger venison</li>
	    <li>Frankfurter bresaola turducken beef, jerky pork belly</li>
	    <li>Boudin ball tip tenderloin sirloin. Frankfurter ribeye</li>
	  </ul>
	</div>
	<div class="view-menu">
	  <h1>View Our Menu</h1>
	  <div class="starters">
		<%= image_tag("JBP-3.png", :alt => "Sample App", :class => "starters-pic") %>
	    <h2>Starters</h2>
		<p>starters description</p>
	  </div>
	  <div class="salads">
		<%= image_tag("JBP-4.png", :alt => "Sample App", :class => "salads-pic") %>
	    <h2>Salads</h2>
	    <p>starters description</p>
	  </div>
	  <div class="pasta">
		<%= image_tag("JBP-5.png", :alt => "Sample App", :class => "pasta-pic") %>
	    <h2>Pasta</h2>
		<p>starters description</p>
	  </div>
	  <div class="desserts">
		<%= image_tag("JBP-6.png", :alt => "Sample App", :class => "desserts-pic") %>
	    <h2>Desserts</h2>
		<p>starters description</p>
	  </div>
	</div>
	<div class="clear">
	</div>
	</div>
</div>
<div class="footer">
	<p>Copyright © 2012 Bella Luna - simple. modern. italian.<p>
</div>




