<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>

<div class="main-pic-container">
  <div class="slideshow">
    <%= image_tag("hero_1.png", :alt => "Bruschetta", :class => "main-pic", :width => "879", :height => "417") %>
    <%= image_tag("hero_2.png", :alt => "Bruschetta", :class => "main-pic", :width => "879", :height => "417") %>
  </div>	
</div>
  <div class="inner-wrapper">
    <div class="dine-left">
	  <h1><%= t("home.header_one") %></h1>
	  <h3><%= t("home.subheader_one") %></h3>
	  <p><%= t("home.text_one") %></p>
	</div>
    <div class="dine-center">
      <h3><%= t("home.subheader_two") %></h3>
	  <p><%=raw t("home.text_two")%></p>
    </div>
    <div class="dine-right">
	  <h1><%= t("home.header_two") %></h1>
	  <%=raw t("home.text_three") %>
	</div>
	<div class="section">
	  <h1><%= t("home.header_three") %></h1>
	  <div class="starters">
		<%= image_tag("JBP-3.png", :alt => "Sample App", :class => "starters-pic") %>
	    <h2><%= t("home.menu_item_one") %></h2>
	  </div>
	  <div class="salads">
		<%= image_tag("JBP-4.png", :alt => "Sample App", :class => "salads-pic") %>
	    <h2><%= t("home.menu_item_two") %></h2>
	  </div>
	  <div class="pasta">
		<%= image_tag("JBP-5.png", :alt => "Sample App", :class => "pasta-pic") %>
	    <h2><%= t("home.menu_item_three") %></h2>
	  </div>
	  <div class="desserts">
		<%= image_tag("JBP-6.png", :alt => "Sample App", :class => "desserts-pic") %>
	    <h2><%= t("home.menu_item_four") %></h2>
	  </div>
	  <div class="clear"></div>
	</div>

<!--Twitter stream and press -->

	<div class="section">
	  <h1><%= t("home.header_four") %></h1>
	
	  <div class="press-container">
	    <h3>Bella Luna in the Press</h3>
	  </div>
	
	  <div class="twitter-container">
	    <h3>Twitter</h3>
		<% 5.times do |i| %>
	    <div class="twitter-item">
	      <a href="http://twitter.com/<%= @twitter_timeline[i].user.screen_name %>"><img src="<%= @twitter_timeline[i].user.profile_image_url %>" /></a>
	      <span class="timestamp"><%= time_ago_in_words(@twitter_timeline[i].created_at) %> ago</span>
	      <a href="http://twitter.com/<%= @twitter_timeline[i].user.screen_name %>"><%= @twitter_timeline[i].user.name %></a>
		  <p><%= @twitter_timeline[i].text %></p>
	    </div>
		<% end %>
	  </div>
	  <div class="clear"></div>
	</div>

	
	
	
  </div>
</div>



