<script type="text/javascript">
$(document).ready(function() {
    $('.slideshow').cycle({
		fx: 'fade' // choose your transition type, ex: fade, scrollUp, shuffle, etc...
	});
});
</script>

<div class="main-pic-container">
  <div class="slideshow">
  	<%= image_tag("hero_2.png", :alt => "Bruschetta") %>
    <%= image_tag("hero_1.png", :alt => "Bruschetta") %>
    <%= image_tag("hero_4.png", :alt => "Bruschetta") %>
    <%= image_tag("hero_5.png", :alt => "Bruschetta") %>
    <%= image_tag("hero_3.png", :alt => "Bruschetta") %>
  </div>	
</div>
  <div class="inner-wrapper">
    <div class="dine-left">
	  <h1><%= t("home.header_one") %></h1>
	  <h3><%= t("home.subheader_one") %></h3>
	  <p><%=raw t("home.text_one") %></p>
	</div>
    <div class="dine-center">
      <h3><%= t("home.subheader_two") %></h3>
	  <p><%=raw t("home.text_two")%></p>
    </div>
    <div class="dine-right">
	  <h1><%= t("home.header_two") %></h1>
	  <h3><%= t("home.subheader_three") %></h3>
	  <p><%=raw t("home.text_three") %></p>
	</div>
	<div class="section">
	  <h1><%= t("home.header_three") %></h1>
	  <div class="starters">
		<a href="<%= menus_path %>"><%= image_tag("antipasti.png", :alt => "Antipasti") %></a>
	    <h3>Antipasti</h3>
	  </div>
	  <div class="salads">
		<a href="<%= menus_path %>"><%= image_tag("insalate.png", :alt => "Insalate e Zuppe") %></a>
	    <h3>Insalate e Zuppe</h3>
	  </div>
	  <div class="pasta">
		<a href="<%= menus_path %>"><%= image_tag("pasta.png", :alt => "Pastas") %></a>
	    <h3>Pastas</h3>
	  </div>
	  <div class="desserts">
		<a href="<%= menus_path %>"><%= image_tag("specialties.png", :alt => "House Specialties") %></a>
	    <h3>House Specialties</h3>
	  </div>
	  <div class="clear"></div>
	</div>

<!--Twitter stream and press -->

	<div class="section">
	  <div class="twitter-container">
	    <h2>Twitter</h2>
		<% 5.times do |i| %>
	    <div class="twitter-item">
	      <div class="twitter-image">
	      	<a href="http://twitter.com/<%= @twitter_timeline[i].user.screen_name %>"><img src="<%= @twitter_timeline[i].user.profile_image_url %>" /></a>
	  	  </div>
	  	  <div class="twitter-body">
		      <span class="timestamp"><%= time_ago_in_words(@twitter_timeline[i].created_at) %> ago</span>
		      <a href="http://twitter.com/<%= @twitter_timeline[i].user.screen_name %>"><%= @twitter_timeline[i].user.name %></a>
			  <p><%= @twitter_timeline[i].text %></p>
		  </div>
	    </div>
		<% end %>
	  </div>
	  <div class="location-container">
	    <h2>Location</h2>
	    <div>
	    	<p><a target="_blank" href="https://maps.google.com/maps?q=15+Market+Square+Knoxville,+TN+37902&amp;hl=en&amp;sll=37.7577,-122.4376&amp;sspn=0.19136,0.273285&amp;hnear=15+Market+Square+SW,+Knoxville,+Knox,+Tennessee+37902&amp;t=m&amp;z=16">15 Market Square<br />Knoxville, TN 37902</a><br />Phone: 865-247-7405<br />Fax: 865-249-7761</p><br />
			<iframe width="400" height="250" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=15+Market+Square,+Knoxville,+TN&amp;aq=1&amp;sll=37.0625,-95.677068&amp;sspn=67.840216,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=15+Market+Square+SW,+Knoxville,+Tennessee+37902&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
	    </div>
	  </div>
	  <div class="clear"></div>
	</div>

	
	
	
  </div>
</div>



