<header>
	<% logo = image_tag("bella_logo.png", :alt => "Bella Luna Restaurant", :class => "logo") %>
	<% yelp = image_tag("yelp.png", :alt => "Find us on Yelp", :class => "social") %>
	<% facebook = image_tag("facebook.png", :alt => "Find us on Facebook", :class => "social") %>
	<% twitter = image_tag("twitter.png", :alt => "Find us on Twitter", :class => "social") %>
	
	<%= link_to logo, root_path %>
	
	<div class="find-us-on-label">Find us on</div>
	<div class="find-us-on">
		<%= link_to yelp, "http://www.yelp.com/biz/bella-luna-knoxville", :target => "_blank" %>
		<%= link_to facebook, "http://www.facebook.com/pages/Bella-Luna-Restaurant/112371618847312", :target => "_blank" %>
		<%= link_to twitter, "https://twitter.com/BellaLunaKnox", :target => "_blank" %>
	</div>
	<div class="reservations">RESERVATIONS: (865) 247-7405</div>
    <nav class="round">
      <ul>
        <li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Menus", menus_path %></li>
		<li><%= link_to "Catering", root_path %></li>
		<li><%= link_to "Location & Hours", location_path %></li>
		<li><%= link_to "Events", root_path %></li>
		<li><%= link_to "About Us", about_path %></li>
      </ul>
    </nav>
</header>